.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
  background-color: #FFA07A;
  border-radius: 6px;
  padding: 16px;
  height: 48px;
}
